@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Work+Sans&display=swap");

/* Box sizing rules  <--CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: rgb(241, 235, 235);
    background-image: url("https://i.pinimg.com/originals/5b/be/e9/5bbee9b08f6d1eafb014269ac137ae1f.jpg"); /* <--- not working ??? WHY ??*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding: 0;
    font-family: "Amatic SC", cursive;
    font-size: 1.5rem;
    margin: auto;
    font-weight: 600;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

header ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}
